.cart {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: auto;
  align-items: center;
  box-shadow: 0px 0px 0px 20px solid black;
  border-bottom: 1px saddlebrown;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.description {
  width: 45%;
}
.cart-image {
  width: 12rem;
  height: 15rem;
}
.total-price {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  gap: 30%;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.button-item {
  display: flex;
  gap: 1rem;
}
.button-style {
  width: 2rem;
  background-color: rgb(61, 88, 112);
  color: aliceblue;
}
.cart-border {
  border-bottom: 20px rgb(5, 4, 7);
  margin: auto;
}
.cartItem-quantity {
  position: absolute;
  margin-left: 2rem;
}
.cartItem-price {
  width: 5rem;
}
.totalPrice {
  width: 5rem;
}

@media (max-width: 600px) {
  .description {
    width: 90%;
  }
}
