.product {
  margin-top: 2rem;
  width: 100%;
}
.product-header {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  margin-top: 5%;
  border: 1px solid rgb(75, 67, 67);
  margin: auto;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgb(54, 48, 48);
  background-color: white;
}
.product-img {
  width: 15rem;
  height: 20rem;
  margin-top: 1em;
  background-color: antiquewhite;
}
.text-bold {
  font-weight: bold;
}
@media (max-width: 600px) {
  .product-header {
    margin-top: 2rem;
    width: 18rem;
    height: 50rem;
    padding: 0.5rem;
    flex-direction: column;
  }
  .product-img {
    width: 7rem;
    height: 9rem;
  }
}
@media (max-width: 350px) {
  .product-header {
    margin-top: 2rem;
    width: 15rem;
    height: 50rem;
    padding: 0.3rem;
    flex-direction: column;
  }
  .products {
    margin: 0.5rem 0rem 0.5rem 0rem;
    gap: 1rem;
  }
}

.spinner {
  display: flex;
  margin-top: 20em;
  justify-content: center;
}
